@import './_reset';
@import './_variables';
@import './_typography';

.app-wrapper {
  height: 100vh;
  max-width: 100%;
  background-color: $body-bg;
  padding: 3em;
}

.button {
  $button-color: saturate(lighten($body-color, 25), 25);
  @extend .h4;
  background-color: $button-color;
  color: white;
  padding: 1em;
  display: inline-block;
  border: 1px solid $button-color;
  font-size: 1em;
  font-family: $header-font-family;
  &:hover {
    background-color: darken($button-color, 15);
    border-color: darken($button-color, 15);
    cursor: pointer;
  }
}
